<div class="col" *ngIf="prodotto">
  <div class="card">
    <img
      [src]="prodotto.image"
      class="card-img-top"
      *ngIf="prodotto.rating.rate >= 3"
    />
    <div class="card-body">
      <h5 class="card-title">
        <a [routerLink]="['/prodotto', prodotto.id]">
          {{ prodotto.title }}
        </a>
      </h5>
      <p>Prezzo: {{ prodotto.price | currency }}</p>
      <app-rating [rating]="prodotto.rating"></app-rating>
      <button
        *ngIf="mostraBottoneNonMiInteressa"
        type="button"
        class="btn btn-danger"
        (click)="nonMiInteressa()"
      >
        Non mi interessa
      </button>
    </div>
  </div>
</div>
